div.spinner {
  position: relative;
  width: 60%;
  padding-top: 60%;
  border-radius: 50%;
  box-sizing: border-box;
  margin: 0 auto;

  border-style: solid;
  border-color: var(--clr-black);
  border-width: 2px 0px 0 0;

  animation: rotate 4s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg);
  }
}