div.full-page {
  height: 100%;
  width: 100%;
  padding: 1em;

  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: baseline;
  align-items: center;
}

div.full-page>h1 {
  font-size: 2.5em;
  text-align: center;
}

form {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

form>h2 {
  font-size: 2em;
  text-align: center;
}

div.inline-label-input-wrapper {
  position: relative;
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--clr-black);
}

div.inline-label-input-wrapper:hover, div.inline-label-input-wrapper:focus-within {
  box-shadow: 4px 4px 2px var(--clr-black);
}

div.inline-label-input-wrapper>label {
  position: absolute;
  top: -10px;
  left: 5px;
  background-color: var(--clr-white);
  padding: 0 5px;
}

div.inline-label-input-wrapper>input {
  padding: 5px;
}

button {
  border-style: solid;
  border-width: 2px;
  border-color: var(--clr-black);
  padding: 5px;

  background-color: var(--clr-accent-a);
  color: var(--clr-black);
}

button:hover, button:focus {
  background-color: var(--clr-accent-b);
  color: var(--clr-white);
  box-shadow: 4px 4px 2px var(--clr-black);
}

.centered {
  margin: 0 auto;
  text-align: center;
}

.clr-green {
  color: var(--clr-green);
}

.clr-red {
  color: var(--clr-red);
}